
.product-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;
}


.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
}
.form-control input {
    border: 1px solid #0000a0;
    font: inherit;
    border-radius: 2px;
}
button {
    font: inherit;
    border: 1px solid #00007e;
    background: white;
    color: #00007e;
    border-radius: 3px;
}

button:hover,
button:active {
    background-color: #0044ff;
    color: white;
}